<div class="container">
  <div class="details">

    <app-title title="Register"></app-title>

    <form [formGroup]="registerForm" (ngSubmit)="submit()">

      <!-- NAME -->
      <div class="input-container">
        <label>Name</label>

        <input type="text" formControlName="name" placeholder="Name">

        <div class="error-list" *ngIf="fc['name'].errors && isSubmitted">
          <div *ngIf="fc['name'].errors['required']">Name is required</div>
          <div *ngIf="fc['name'].errors['minlength']">
            Name must be at least 3 characters
          </div>
        </div>
      </div>

      <!-- EMAIL -->
      <div class="input-container">
        <label>Email</label>

        <input type="email" formControlName="email" placeholder="Email">

        <div class="error-list" *ngIf="fc['email'].errors && isSubmitted">
          <div *ngIf="fc['email'].errors['required']">Email is required</div>
          <div *ngIf="fc['email'].errors['email']">Invalid email</div>
        </div>
      </div>
 <!-- ADDRESS -->
      <div class="input-container">
        <label>Address</label>

        <input type="text" formControlName="address" placeholder="Address">

        <div class="error-list" *ngIf="fc['address'].errors && isSubmitted">
          <div *ngIf="fc['address'].errors['required']">Address is required</div>
        </div>
      </div>

      <!-- PASSWORD -->
      <div class="input-container">
        <label>Password</label>

        <input type="password" formControlName="password" placeholder="Password">

        <div class="error-list" *ngIf="fc['password'].errors && isSubmitted">
          <div *ngIf="fc['password'].errors['required']">Password is required</div>
          <div *ngIf="fc['password'].errors['minlength']">
            Min 6 characters
          </div>
        </div>
      </div>

      <!-- CONFIRM PASSWORD -->
      <div class="input-container">
        <label>Confirm Password</label>

        <input type="password" formControlName="confirmPassword" placeholder="Confirm Password">

        <div class="error-list" *ngIf="fc['confirmPassword'].errors && isSubmitted">
          <div *ngIf="fc['confirmPassword'].errors['required']">
            Confirm password is required
          </div>
        </div>

        <div class="error-list"
             *ngIf="registerForm.errors?.['passwordMismatch'] && isSubmitted">
          Passwords do not match
        </div>
      </div>

     
      <!-- BUTTON -->
      <div class="button">
        <button type="submit">Register</button>
      </div>

    </form>

  </div>
</div>